asn1crypto==0.24.0
astroid==2.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
cryptography==2.4.2
cx-Oracle==7.0.0
cycler==0.10.0
decorator==4.3.0
Django==1.11.1
